
<footer>

  <div class="d-flex justify-content-between container flex-wrap divStyle" >
    <div >
      <h5>Inicio</h5>
      <ul>
        <li><a routerLink="/inicio">Home</a></li>

      </ul>
    </div>
    <div >
      <h5>Sobre nós</h5>
      <ul>
        <li><a routerLink="/sobre">PortoTech Store</a></li>
        <li><a href="faleconosco">Contato</a></li>

      </ul>
    </div>
    <div >
      <h5>Formas de pagamento</h5>
      <ul>
        <li>Boleto</li>
        <li>Cartões de Débito e Crédito</li>
        <li>Pix e Tranferência Bancária</li>
      </ul>
    </div>
    <div class=" info">
      <h5>Compra Segura</h5>
      <p> Aqui você tem a garantia de uma compra segura, com um site blindado e todos seus dados seguros. </p>
    </div>
  </div>

  <div>
    <div class="container second-bar">
      <h2 class="logo">
        <a routerLink="/inicio"> <img class="imgLogoRodape" src="../../assets/img/logo-horizontal.png"></a>
      </h2>
      <div class="social-icons d-flex align-content-center">
        <a href="https://www.instagram.com/portotech_store/" target="_blank"><img
            src="../../assets/img/instagram.png"></a>
        <a href="https://www.facebook.com/profile.php?id=100082737544371" target="_blank"><img
            src="../../assets/img/facebook.png"></a>
        <a href="https://www.linkedin.com/in/portotech-store/" target="_blank"><img
            src="../../assets/img/linkedin.png"></a>
      </div>
    </div>
  </div>
</footer>
