<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text-center my-4"><strong>PortoTech Store</strong></h1>
            <p class="text-justify">Tendo em vista que a Porto proporciona seguros aos seus clientes, vimos a necessidade de uma empresa que fornecesse os produtos tecnológicos surgindo assim a PortoTech Store.
                Nosso e-commerce foi criado com o objetivo de vender produtos tecnológicos e de alta qualidade e performance em parceria com a Samsung, onde seu intuito é oferecer não só produtos e sim produtos com possibilidade de ser assegurados pela Porto. 
        </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/Logo PortoTech.png" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
    </div>

    <hr>
    <div class="row">
        <!-- MISSÃO -->
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>MISSÃO</strong></h3>
            <p class=" text-conteudo text-justify text-center my-4 mb-5">	A PortoTech Store tem a missão de vender produtos tecnológicos e de alta performance proporcionando conforto e segurança para seus clientes.
            </p>
        </div>
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="../../assets/img/ominichanel.jpg" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>

        <!-- VISAO -->
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="../../assets/img/como-melhorar-a-comunicacao-entre-gestor-e-funcionario.jpeg" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>VISÃO</strong></h3>
            <p class=" text-conteudo text-justify text-center my-4 mb-5">
                Ser reconhecida como a melhor empresa de vendas de produtos tecnológicos, garantindo serviço de qualidade, excelência e segurança aos seus clientes.
            </p>
        </div>

        <!-- VALORES -->
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>VALORES</strong></h3>
            <p class=" text-conteudo text-justify text-center my-4 mb-5">
               * Serviço de qualidade <br>
                
               * Inovação <br>
                
               * Ética <br>
                
               * Segurança <br>
            </p>
        </div>
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="../../assets/img/equipe.jpg" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
    </div>
</div>



<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5 tituloProg">NOVOS PROGRAMADORES JÚNIOR DO PEDAÇO</h2>
            <hr>
        </div>
    </div>
    <div class="row flex-wrap justify-content-center d-flex align-items-center">
   
        <div class="card d-flex align-items-center justify-content-center card-heitor m-3">
            <img class="foto-membro" src="../../assets/img/heitor.jpeg"
                alt="Foto do integrante Heitor">
            <div class="card-body">
                <h3 class="card-title text-center"> <strong>Heitor Guedes</strong></h3>
                
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://www.linkedin.com/in/ssgheitor/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/heitorgusan"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- Mariana -->
        <div class="card d-flex align-items-center justify-content-center card-mariana m-3">
            <img class="foto-membro" src="../../assets/img/mari.jpeg"
                alt="Foto da integrante Mariana">
            <div class="card-body">
                <h3 class="card-title text-center"> <strong>Mariana Roncaratti</strong></h3>
                
            </div>
            <div class="card-footer">
                

                <a target="_blank" href="https://www.linkedin.com/in/mariana-roncaratti/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                <a target="_blank" href="https://github.com/Mariana-Roncaratti"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- Patricia -->
        <div class="card d-flex align-items-center justify-content-center card-patricia m-3">
            <img class="foto-membro" src="../../assets/img/patricia.jpeg" 
                alt="Foto da integrante Patrícia">
            <div class="card-body">
                <h3 class="card-title text-center"> <strong>Patricia Rogai</strong></h3>
               
            </div>
            <div class="card-footer">
                

                <a target="_blank" href="https://www.linkedin.com/in/patriciarogai/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                <a target="_blank" href="https://github.com/PatriciaRogai"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- Rafael -->
        <div class="card d-flex align-items-center justify-content-center card-rafael m-3 card-rafael">
            <img class="foto-membro" src="../../assets/img/rafael.jpeg"
                alt="Foto do integrante Rafael">
            <div class="card-body">
                <h3 class="card-title text-center"> <strong>Rafael Pacheco</strong></h3>
               
            </div>
            <div class="card-footer">
                

                <a target="_blank" href="https://www.linkedin.com/in/rafaelnpacheco/"><img
                        class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                <a target="_blank" href="https://github.com/Rnpacheco"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- Renata -->
        <div class="card d-flex align-items-center justify-content-center card-renata m-3 card-renata">
            <img class="foto-membro" src="../../assets/img/renata.jpeg" 
                alt="Foto da integrante Renata">
            <div class="card-body">
                <h3 class="card-title text-center"> <strong>Renata Pedreschi</strong></h3>
                
            </div>
            <div class="card-footer">
               

                <a target="_blank" href="https://www.linkedin.com/in/renata-castrorp/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                <a target="_blank" href="https://github.com/RenataRCPedreschi"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
       
            
            </div>
        </div>
    
    <hr>
