<section class="container" *ngIf="!isLogado(); else logado">
  <img src="../../assets/img/logo-sem-fundo.png" class="logo" alt="logo">
    <form class="d-flex flex-column align-items-center">
    <h1 class="text-center">Faça seu Cadastro</h1>

    <div class="mb-3 form-group w-50">
      <label class="form-label">E-mail* <small>(login)</small></label>
      <input type="email" class="form-control" name="email"[(ngModel)]="newUser.username" placeholder="Digite seu email"  id = "inputEmail" (blur) = "verificaVazioBlur($event.target)"/>
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label" for="password" >Sua senha* <small>(Mínimo 8 Caracteres)</small></label>
      <input id = "inputSenha" type="password" class="form-control email" name="password" [(ngModel)]="newUser.password" placeholder="Digite sua senha" (blur) = "verificaVazioBlur($event.target)"/>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"(click)=verSenha()>
        <label class="form-check-label" for="flexSwitchCheckDefault">Visualizar senha</label>
      </div>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="nome">Nome*</label>
      <input id = "inputNome" type="text" class="form-control" name="nome" [(ngModel)]="newUser.nome" placeholder="Digite seu nome" (blur) = "verificaVazioBlur($event.target)"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">CPF* <small>(Sem pontos)</small></label>
      <input id = "inputCPF"type="text" class="form-control" name="CPF" [(ngModel)]="newUser.cpf" placeholder="Digite seu CPF" maxlength="11" (blur) = "verificaVazioBlur($event.target)"/>
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label">Celular*</label>
      <input id = "inputCelular" type="text" class="form-control" name="celular" [(ngModel)] = "newUser.celular" placeholder="Digite seu celular" (blur) = "verificaVazioBlur($event.target)"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">CEP* <small>(Digite para fazer a busca)</small></label>
      <input id = "inputCEP" type="text" class="form-control" name="cep" #cep (blur)="buscarEndereco(cep)" [(ngModel)]="newUser.cep" placeholder="Digite seu CEP" maxlength="8"(blur) = "verificaVazioBlur($event.target)" />
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label">Endereço*</label>
      <input id = "inputEndereco" type="text" class="form-control" name="endereço" [(ngModel)]="newUser.endereco" placeholder="Digite seu endereço"(blur) = "verificaVazioBlur($event.target)" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Número*</label>
      <input id = "inputNumero" type="text" class="form-control" name="numero" [(ngModel)]="newUser.numero" (blur) = "verificaVazioBlur($event.target)"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Complemento</label>
      <input type="text" class="form-control" name="complemento" [(ngModel)] = "newUser.complemento"/>
    </div>


    <div class="mb-3 form-group w-50">
      <label class="form-label">Bairro*</label>
      <input id = "inputBairro" type="text" class="form-control" name="bairro" [(ngModel)]="newUser.bairro" placeholder="Digite seu bairro" (blur) = "verificaVazioBlur($event.target)"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Cidade*</label>
      <input id = "inputCidade" type="text" class="form-control" name="cidade" [(ngModel)]="newUser.cidade" placeholder="Digite sua cidade"  (blur) = "verificaVazioBlur($event.target)"/>
    </div>

    <div class="mb-3 form-group w-50">
      <label for="estado">Estado*</label>
      <select id = "inputEstado" class="form-select" name="estado"[(ngModel)]="newUser.estado" (blur) = "verificaVazioBlurSelected($event.target)">
        <option selected>Selecione um estado*</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="DF">Distrito Federal</option>
      </select>
    </div>
<div class="d-flex">
    <button type="submit" class="btn btn-dark" (click)="cadastrarPessoa()">Cadastrar</button>
    <button type="submit" class="btn btn-dark" routerLink="/inicio">Cancelar</button>
  </div>
  </form>
</section>

<ng-template #logado>
  <h3>Você está logado saia se quiser criar um novo cadastro</h3>
</ng-template>
