<header class="container-fluid">

  <div class="cabecalho">
    <a routerLink="" class ="logo">
      <img src="../../assets/img/logo-horizontal.png" alt="Logo PortoTech Store" width="150" height="45">
    </a>

    <form class="busca">
      <fieldset class ="d-flex flex-wrap">
        <input class="inputText" type="text" placeholder="Pesquise aqui seu produto">
        <input class="inputButton" type="button" value ="">
      </fieldset>
    </form>

    <nav>
      <ul>
        <li class="userImg flex-wrap" *ngIf="isNotLogado(); else logado">
          <a routerLink="login" (click) = "esconderHeaderRodape()">
            <img src="../../assets/img/userlogin.png" alt="login">
            Entre/Cadastre-se
          </a>
        </li>
        <ng-template #logado>
          <li class="userImg">
              <img src="../../assets/img/userlogin.png" alt="login">
              Bem-vindo <small>{{username}}</small>
          </li>
          <li class="carrinhoImg">
            <a (click)="sair()">
              <img src="../../assets/img/sair.png" alt="sair">
              Sair
            </a>
          </li>
        </ng-template>

        <li class="carrinhoImg">
          <a routerLink="carrinho">
            <img src="../../assets/img/carrinho-de-compras.png" alt="carrinho de compras">
            Meu carrinho
           <span>{{tamanhoCarrinho}}</span>
          </a>
        </li>
      </ul>
    </nav>


  </div>


</header>
