<header>
    <div class="cabecalho">
        <a href="#">
            <img src="../../assets/img/logo-sem-fundo.png" alt="Logo PortoTech Store">
        </a>

        <form class="busca">
            <fieldset>
                <input class="inputText" type="text" placeholder="    Pesquise aqui seu produto">
                <input class="inputButton" type="button">
            </fieldset>
        </form>

        <nav>
            <ul>
                <li class="userImg"><a href="#">
                        <img src="../../assets/img/userlogin.png" alt="login">
                        Entre/Cadastre-se
                    </a>
                </li>
                <li class="carrinhoImg"><a href="#">
                        <img src="../../assets/img/carrinho-de-compras.png" alt="carrinho de compras">
                        Meu carrinho
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</header>