<section class="container">
  <img src="../../assets/img/logo-sem-fundo.png" class="rounded mx-auto d-block w-25
    " alt="...">
  <form class="d-flex flex-column align-items-center" (ngSubmit)="addProdutosBancoDados()">
    <h1 class="display-9 text-center border-personalizada">Cadastrar produto</h1>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)] = "produto.nomeProduto"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="precoVenda">Preço de Venda</label>
      <input type="number" class="form-control" name="precoVenda" [(ngModel)] = "produto.precoVendaProduto"/>
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label" for="precoCusto">Preço de Custo</label>
      <input type="number" class="form-control" name="precoCusto" [(ngModel)] = "produto.precoCustoProduto"/>
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label" for="estoque">Estoque de Produto</label>
      <input type="number" class="form-control" name="estoque" [(ngModel)] = "produto.qtdeEstoqueProduto"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="urlFoto">Url Foto</label>
      <input type="text" class="form-control" name="urlFoto" [(ngModel)] = "produto.urlFotoProduto"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="urlFoto">Categoria Produto</label>
      <input type="text" class="form-control" name="categoriaProduto" [(ngModel)] = "produto.categoriaProduto"/>
    </div>
    <button type="submit" class="btn btn-dark">Cadastrar</button>
  </form>
</section>
