<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle botaoHover" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Todos os departamentos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item botaoHover" href="#">Celulares</a></li>
                    <li><a class="dropdown-item botaoHover" href="#">Notebooks</a></li>
                    <li><a class="dropdown-item" href="#">Smartwatches</a></li>
                    <li><a class="dropdown-item" href="#">Fones de ouvido</a></li>
                    <li><a class="dropdown-item" href="#">Veja os lançamentos</a></li>
                    <li><a class="dropdown-item" href="#">Promoções</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Minha Conta</a></li>
                    <li><a class="dropdown-item" href="#">Meus pedidos</a></li>
                    <li><a class="dropdown-item" href="#">Fale conosco</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Promoções</a>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Lançamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Celulares</a>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Notebooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Smartwatches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link botaoHover" href="#">Fones de ouvido</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link botaoHover" href="#">Minha Conta</a></li>
            <li class="nav-item"><a class="nav-link botaoHover" href="#">Meus pedidos</a></li>
            <li class="nav-item"><a class="nav-link botaoHover" href="#">Fale conosco</a></li>
        </ul>
    </div>

</nav>