<div class="container" *ngIf="isAdmin(); else naoadmin">
  <h2 class="text-center">Bem vindo admin. - Gerencie seus produtos</h2>
    <!--
    <table class="table">
      <thead>
        <th scope="col">#Cód.</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Modificar</th>
      </thead>
      <tbody *ngIf="listaProdutos.length>0">
        <tr *ngFor="let produto of listaProdutos">
          <th scope="row">{{produto.idProduto}}</th>
          <td><img src="{{produto.urlFotoProduto}}" alt="Foto produto" height="128" width="128"></td>
          <td>{{produto.nomeProduto}}</td>
          <td>{{produto.precoVendaProduto|currency}} </td>
          <td>
            <button class="btn btn-dark entrar" [routerLink]="['/produto-editar',produto.idProduto]">Editar</button>
            <button class="btn btn-dark" (click) = "deletarProduto(produto.idProduto)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-dark mt-1" (click)="chamarPagProduto()">Novo Produto</button>

  </div>
  -->


  <mat-form-field appearance="standard">
    <mat-label>Pesquisar Produto</mat-label>
    <input matInput placeholder="Buscar produto.." search (keyup)="pesquisarProduto($event)" #notFound />
  </mat-form-field>
  <button class="btn btn-dark mt-1" (click)="chamarPagProduto()">Adicionar Produto</button>

  <div class="mat-elevation-z8 d-flex flex-wrap">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="urlFotoProduto">
        <th mat-header-call *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let produto" class ="foto">
          <img src="{{produto.urlFotoProduto}}" alt="Foto produto" height="128" width="128">
        </td>
      </ng-container>
      <ng-container matColumnDef="nomeProduto">
        <th mat-header-call *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let produto">{{produto.nomeProduto}}</td>
      </ng-container>
      <ng-container matColumnDef="precoVendaProduto">
        <th mat-header-call *matHeaderCellDef mat-sort-header>Preço</th>
        <td mat-cell *matCellDef="let produto">{{produto.precoVendaProduto | currency}}</td>
      </ng-container>
      <ng-container matColumnDef="qtdeEstoqueProduto">
        <th mat-header-call *matHeaderCellDef mat-sort-header>Estoque</th>
        <td mat-cell *matCellDef="let produto">{{produto.qtdeEstoqueProduto}}</td>
      </ng-container>
      <ng-container matColumnDef="categoriaProduto">
        <th mat-header-call *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let produto">{{produto.categoriaProduto}}</td>
      </ng-container>
      <ng-container matColumnDef="marcaProduto">
        <th mat-header-call *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let produto">{{produto.marcaProduto}}</td>
      </ng-container>
      <ng-container matColumnDef="gerProduto">
        <th mat-header-call *matHeaderCellDef>Gerenciar Produto</th>
        <td mat-cell *matCellDef="let produto">
          <button class="btn btn-dark entrar" [routerLink]="['/produto-editar',produto.idProduto]">Editar</button>
          <button class="btn btn-dark" (click) = "deletarProduto(produto.idProduto)">Excluir</button>
        </td>

      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row ; columns: displayedColumn"></tr>

      <!-- Quando não encontrar-->
      <tr *matNoDataRow="">
        <td class="mat-cell" colspan="4">Não encontrado "{{notFound.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,25,50]" aria-labels="Selecione o produto"></mat-paginator>
  </div>
</div>

<ng-template #naoadmin>
  <div class="container">
    <h2>Você não é um administrador</h2>
  </div>
</ng-template>
