.grid-container{
  display: grid;
  
}
/* .divFoto{
  margin: 0 auto;
} */
/* .divDescricao{
  
} */
.qtdeInput{
  width: 15%;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.btn{
  align-items: center;
  justify-content: center;
  color: #ffffff ;
  background-color: #103574;
  border-bottom: #103574;
}

.preco{
  margin-right: 20px;
}

.tm-max {
  max-height: 150px;
}

.btnRemover{
  height: 40px;
  border-radius: 10px;
}
.cardCarrinho{
  margin-bottom: 24px;
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}