.grid-container{
  display: grid;
  
}

/* p-4{
  display: flex;
  justify-content: center;
} */
/* .qtdeInput{
  width: ;
} */

/* icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
} */

.paizao{
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  padding: 0 !important;
  justify-content: center;
  
}
/* .icon-sm {
  width: 2rem;
  height: 2rem;
} */

.btn{
  align-items: center;
  justify-content: center;
  color: #ffffff ;
  background-color: #103574;
  border-bottom: #103574;
  margin-bottom: 10px;
  
}
.btn:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #1883ad;

}

.excluir{
  width: 27px;
  height: 27px;
}

/* .tm-max {
  max-height: 150px;
} */


.qtdText{
  width: fit-content;
}
.qtdCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnRemover{
  border: none;
  border-radius: 50%;
  /* margin-right: 10px; */
  cursor: pointer;
  
}
.btnRemover img{
  width: 25px;
  height: 25px;
  /* margin-top: -20px !important; */
}
.cardCarrinho{
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
  /* padding: 0 25px 0 16px !important; */
}

.divDescricao{
  /* margin-top: 12px; */
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


::ng-deep .mat-typography h3{
  margin: 0 !important;

}


.card-header {
  /* width: fit-content !important; */
  background-color: #dbe2f0;
  text-align: center;
  height: 50px;
  padding: 8px 0 8px 0 !important;
}

.table{
  /* width: fit-content !important;
  height: fit-content !important; */
  max-width: fit-content !important;
  width:100% !important;
  height: fit-content !important;
}
.cardStyle1{
  
  /* min-width: 250px; */
  max-width: 300px;
  width:100% !important;
  height: fit-content !important;
  
}
.cardStyle2{
  max-width: fit-content !important;
  width:100% !important;
  height: fit-content !important;
  
}
.endereco-entrega{
  text-align: center;
}

.foto img{
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  height: 100%;
}





.produto{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  

}

.descricao p, .preco p, .total p{
  margin: 0 !important;
}

.descricao{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 100%;
  /* margin: 0 auto; */
  
 
}
.preco{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 100%;
  /* margin: 0 auto; */
  
}
/* .preco p{
  padding-left: 10px;
} */


.quantidade{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  /* margin: 0 auto; */
  
}
.quantidade>div{
  border: 1px solid rgba(150, 148, 148, 0.74);
  border-radius: 10px;
  width: 100px;
  /* margin-left: 25px; */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: -20px !important; */
}
.btnQuantidade{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.total{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  /* margin: 0 auto; */
  
}
.selecionepagto{
  color: #ff0000;
  text-align: center;
}




@media(max-width: 1130px) {
  .paizao{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    

  }
  .cardStyle2{
    max-width: 837px !important;
    
    width: 100% !important;
    
  }
  /* .card-header{
    min-width: 640px !important;
  } */
  .cardStyle1{
    max-width: 837px;
    width: 100%;
  }

  .p-4 {
    display: flex;
    align-self: center;
    gap: 5px;
  }
}
