<section class="container">
  <img src="../../assets/img/logo-sem-fundo.png" class="rounded mx-auto d-block w-25
    " alt="...">
    <form class="d-flex flex-column align-items-center">
    <h1 class="display-9 text-center border-personalizada">Faça seu Cadastro</h1>
    <div class="mb-3 form-group w-50">
      <label class="form-label" for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">CPF</label>
      <input type="text" class="form-control" name="CPF" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">E-mail</label>
      <input type="email" class="form-control" name="email" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Celular</label>
      <input type="text" class="form-control" name="celular" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Data de nascimento</label>
      <input type="text" class="form-control" name="dataDenascimento" />
    </div>


    <div class="mb-3 form-group w-50">
      <label class="form-label">CEP</label>
      <input type="text" class="form-control" name="cep" #cep (blur)="buscarEndereco(cep)" />
    </div>

    <div class="mb-3 form-group w-50">
      <label class="form-label">Endereço</label>
      <input type="text" class="form-control" name="endereço" [(ngModel)]="endereco" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Número</label>
      <input type="text" class="form-control" name="numero" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Complemento</label>
      <input type="text" class="form-control" name="complemento" />
    </div>


    <div class="mb-3 form-group w-50">
      <label class="form-label">Bairro</label>
      <input type="text" class="form-control" name="bairro" [(ngModel)]="bairro" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Cidade</label>
      <input type="text" class="form-control" name="cidade" [(ngModel)]="cidade" />
    </div>

    <div class="mb-3 form-group w-50">
      <label for="estado">Estado</label>
      <select class="form-select" name="estado" [(ngModel)]="estado">
        <option selected>Selecione um estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="DF">Distrito Federal</option>
      </select>
    </div>

    <button type="submit" class="btn btn-dark">Cadastrar</button>
  </form>
</section>
