.carousel-inner{
    width: 100%;
    height: 100%;
    position: relative;
  


}
.carousel-inner> .item> img {
    width:  640px;
    height: 360px;
  }

  .container{
    padding: 0.5rem;
  }
  .btn btn-primary{
    align-items: center;
    justify-content: center;
  }