<!-- CARROSSEL -->

<div class="container">
<div class="row">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/br-feature-galaxy-book-s-intel-409794316.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/Samsung-em-promocao.gif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/Samsung_Galaxy-S22-1-1536x864.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
 <!-- PRODUTOS  -->

 <div class="container-fluid">
  <div class="row">
    

    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card h-200">
        <img class="card-img-top" src= "../../assets/img/black-13.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Galaxy S22 Ultra 5G 512GB</h5>
          <p class="card-text h-60">O primeiro Galaxy S com S Pen integrada.
            O processador mais rápido em um Galaxy.
            Inteligência artificial para vídeos extraordinários a noite.R$ 9.500,00</p>
            <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card h-200">
        <img class="card-img-top" src="../../assets/img/galaxym53azul.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Galaxy M53 5G</h5>
          <p class="card-text h-60">Câmera de 108 megapixels
            Memória interna de 128 GB com a possibilidade de expansão.
            Grava vídeos em 4K a espantosa resolução de 3840x2160 pixelsR$ 2.500,00</p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card h-200">
        <img class="card-img-top" src="../../assets/img/note samsung 6305.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Notebook Samsung Book Intel Celeron 6305</h5>
          <p class="card-text h-60 ">O Samsung Book possui uma arquitetura de 
            última geração e design elegante para quem busca qualidade, 
            desempenho e proteção do investimento. Conta com portas de acesso 
            à memória e unidade de armazenamento, facilitando o upgrade e 
            proporcionando mais longevidade ao sistema. R$ 2.600,00</p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/galaxy notebook.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Notebook Samsung Galaxy Book Intel Core i5</h5>
          <p class="card-text h-60 ">Junto ao Microsoft Teams, O Galaxy Book S oferece tudo que o time precisa para se manter produtivo quando estiver trabalhando de casa. Inicie um chat em grupo, compartilhe ideias em reuniões online, crie e apresente documentos e edite-os em conjunto em tempo 
          real direto da sala de estar.R$ 6.499,00</p>
          <a href="#" class="btn btn-primary">COMPRAR</a> 
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-3">
    
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/smartwatchprata.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Galaxy Watch4 BT 40mm</h5>
          <p class="card-text h-60">Meça a composição corporal com o poderoso sensor Samsung BioActive<br>
            Monitore seus exercícios físicos pelo pulso
            Design elegante, integrado e icônico.R$ 1.200,00</p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="../../assets/img/smartwatchblack2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Galaxy Watch4 Classic BT 42mm Preto</h5>
          <p class="card-text h-60">O relógio que melhor conhece você
            Condicionamento físico ao alcance do braço.
            Não apenas ouça seu corpo. Conheça-o.R$ 2.200,00</p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="../../assets/img/buds prata.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Galaxy Buds</h5>
          <p class="card-text  h-60">Controle o nível de cancelamento ativo de ruído<br>
            Som de estúdio com poderosos alto-falantes duplos
            Mergulhe no som ambiente cinematográficoR$ 770,00
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="assets/img/galaxybudsvioleta.jpg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Galaxy Buds</h5>
          <p class="card-text h-60">Controle o nível de cancelamento ativo de ruído<br>
            Som de estúdio com poderosos alto-falantes duplos
            Mergulhe no som ambiente cinematográficoR$ 750,00
            </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>

  </div>
  <!-- fim row-->