/* .carousel{
  width: 100%;
  height: 100%;
  left: 5px;  

} */
.imagemCarousel{
width: 100%; 
margin-top: 20px;
object-fit: contain;

} 



#carouselExampleIndicators{
margin-bottom: 10px;

}
/* .imgCarr{
height: 100% !important;

}  */




.btn{
    align-items: center;
    justify-content: center;
    color: #ffffff ;
    background-color: #103574;
    border-bottom: #103574;
  }
  .btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #1883ad;
  } 
  
  
  .imgCard{
   padding: 1.5rem;

  }
  .imgCard:hover{
    transform:scale(1.1);
    background-color: #f0f8ff;

  }

  .preco{
    margin: 18px 0;
    font-size: 20px;
    color: #0AA1DD;
    text-align: center;
  }

  .textDescription{
    text-align: left;
    padding: 5px;
  }

  /* .precoPromocao{
    color: red;
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;
  }

  .promocao{
    text-align: center;
    color: rgb(235, 31, 31);
    margin: 10px;
  } */
/* 
  #carouselExampleIndicators{
    height: 500px;
    max-height: 100%;
    justify-content: space-between;} */
  
  
.cardStyle{
  margin-bottom: 25px;
  
}
 a{
  text-decoration: none;
  color: #000000;
 }



.carousel-inner{
  max-height: 600px;
  height: 100%;

}


 
@media(max-width: 1399px) {
  .carousel-inner{
    max-height: 550px;
  }
  }

  @media(max-width: 1199px) {
    .carousel-inner{
      max-height: 450px;
    }
    }

    @media(max-width: 991px) {
      .carousel-inner{
        max-height: 350px;
      }
      }
      @media(max-width: 767px) {
        .carousel-inner{
          max-height: 250px;
        }
        }
        @media(max-width: 507px) {
          .carousel-inner{
            max-height: 240px;
          }
          }
          @media(max-width: 425px) {
            .carousel-inner{
              max-height: 200px;
            }
            }